#nav .current_page_item a,
#main,
.post,
.Nav a:link,
.Nav a:visited,
.box,
.widget,
#searchform #s,
#comments li,
#commentform input.txt,
#commentform textarea  {
	zoom: 1;
}

#nav li ul li {
	margin: 0;
}
#nav a:hover,#nav .current_page_item a{
	background-color: #cc7f66;
}

#main{
	background-color: #FF9F80;
}
#btn_add_field{
	margin-left: 10px !important;
}
#sidebar  {
	top:75px;  
	margin-left:131px; 
}
#all_properties{
	width: 280px;
}
#all_properties legend,#all_form_properties legend{
	margin-bottom: 10px;
}
#form_prop_language,#form_prop_label_alignment{
	padding-bottom: 0px !important;
}
#scheduling_cal_start,#scheduling_cal_end{
	padding-left: 3px;
	padding-right: 5px;

}
#form_date_range_minimum{
	margin-left: 5px;
}
#filter_form_input{
	color: #000;
}